body {
    margin: auto 0;
    text-align: center;
}

h1 {
    font-size: 70px;
}

.center {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    text-align: left;
}

.center-display {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.image {
    display: inline-block;
    background-color: grey;
    width: 250px;
    height: 141px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.display {
    width: 80%;
}

.resolution {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
}

.pick {
    font-size: 25px;
    margin: 10px;
}
